 
 <div class="row mt-5">
    <div class="col"></div>
    <div class="col-2">
        <div class="row mt-5">
            <div class="col">
                <div class="card mt-5">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        <label for="login">Login</label>
                        <input type="text" [(ngModel)]="login" class="form-control">
                        <label for="senha">Senha</label>
                        <input type="password" [(ngModel)]="senha" class="form-control">
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-success" (click)="entrar()">Entrar</button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
 </div> 
    
    
