<body [ngClass]="{'hold-transition sidebar-mini':seguranca.logged}"  >
  <div [ngClass]="{'wrapper':seguranca.logged}">
    <app-header [hidden]="!seguranca.logged"></app-header>
    <app-menu [hidden]="!seguranca.logged"></app-menu>

    <div [ngClass]="{'content-wrapper':seguranca.logged}">
      <section [ngClass]="{'content':seguranca.logged}" >
        <div [ngClass]="{'container-fluid':seguranca.logged}" >
          <div class="row"> 
            <div class="col">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </section>
    </div>

    <footer class="main-footer" *ngIf="seguranca.logged">
      <div class="float-right d-none d-sm-block"><b>Version</b> 1.0.0</div>
      <strong
        >Copyright &copy; 2022
        <a href="https://oliota.com">Aulas Angular</a>.</strong
      >
      All rights reserved.
    </footer>
 
  </div>
</body>
